<div class="container">
  <div class="content">
    <div class="header"></div>
    
    <div class="leagues">
      <div class="title">My Leagues</div>
      
      <button class="leagueBtn" *ngFor="let league of leagues"  (click)="getUpcomingMatchesByLeague(league.dbId)" >
      {{league.name}}
      <div class="flagLeague" [ngStyle]="{'background-image': 'url(' + league.flagURL + ')'}"></div>
      </button>
    </div>
    

    <div class="matches" *ngIf="show == 1">
        <div class="container-matches" >
            <div class="titleLeague" style = "color : red;"> Live Matches </div>
            <div class="match" *ngFor="let match of liveMatches" >
              <div class="matchBtn"  (click)="makeSubscribe(match.homeTeam.shortName , match.awayTeam.shortName,match.homeGoals,match.awayGoals,match.league.name,match.homeTeam.shirtUrl,match.awayTeam.shirtUrl,match.arena,match.dbId)" >
                <span >{{match.startDate}}</span>
                <span></span>
                
                <span>
                  {{match.homeTeam.shortName}}
                  <div class="flagTeam" [ngStyle]="{'background-image': 'url(' + match.homeTeamFlag + ')'}"></div>
                </span>
                <span>
                  {{match.homeGoals}} - {{match.awayGoals}}
                </span>
                <span>
                  {{match.awayTeam.shortName}}
                  <div class="flagTeam" [ngStyle]="{'background-image': 'url(' + match.awayTeamFlag + ')'}"></div>
                </span>
                <span>
                  <div *ngIf="isSubscribedMatch(match.dbId)"  style="width: 20px;height:20px ;background-image:url('../../assets/star.png') ; background-size: 100%;"></div>
                </span>
                </div> <!-- fuck -->
              </div>
            </div>
      <div class="container-matches" *ngFor="let league of currentLeagues" >
        
        <div class="titleLeague"> {{league.name}} </div>
        <div class="match" *ngFor="let match of currentMatches" >
          <div class="matchBtn" *ngIf="league.dbId == match.league.dbId" (click)="makeSubscribe(match.homeTeam.shortName , match.awayTeam.shortName,match.homeGoals,match.awayGoals,match.league.name,match.homeTeam.shirtUrl,match.awayTeam.shirtUrl,match.arena.name,match.arena.capacity,match.dbId)" >
            <span >{{match.startDate}}</span>
            <span></span>
            
            <span>
              {{match.homeTeam.shortName}}
              <div class="flagTeam" [ngStyle]="{'background-image': 'url(' + match.homeTeamFlag + ')'}"></div>
            </span>
            <span>
               - 
            </span>
            <span>
              {{match.awayTeam.shortName}}
              <div class="flagTeam" [ngStyle]="{'background-image': 'url(' + match.awayTeamFlag + ')'}"></div>
            </span>
            <span style="opacity: 0.4">
              <div style="width: 20%;height: 50%;background-image:url('../../assets/star.png')"></div>
            </span>
            </div> <!-- fuck -->
          </div>
          
        </div>

   
        <div class="matches" *ngIf="show == 0">
          <div class="lgName">{{leagueName}}</div>
          <div class="event">
            <div class="shirtAndTeam" >
              <div class="shirt"  [ngStyle]="{'background-image': 'url(' + homeShirtUrl + ')'}">
              </div>
              <div class="teamName2">{{homeTeam}}</div>
            </div>
            
            <div class="shirtAndTeam2" >
              <div class="shirt"  [ngStyle]="{'background-image': 'url(' + awayShirtUrl + ')'}">
              </div>
              <div class="teamName2" >{{awayTeam}}</div>
            </div>
            <div class="scoresAndArena">
              <div class="arena">
                <div class="imageArena"></div>
                <div class="nameArena">
                  Name : {{arenaName}}
                </div>
                <div class="capacityArena">
                  Capacity : {{arenaCapacity}}
                </div>
              </div>
              <div class="scores">
                {{homeGoals}} - {{awayGoals}}
              </div>
            </div>
          </div>
        
        </div>
      </div>
      <div class="matches" *ngIf="show == 0">
        <div class="lgName">{{leagueName}}</div>
        <div class="event">
          <div class="shirtAndTeam" >
            <div class="shirt"  [ngStyle]="{'background-image': 'url(' + homeShirtUrl + ')'}">
            </div>
            <div class="teamName2">{{homeTeam}}</div>
          </div>
          
          <div class="shirtAndTeam2" >
            <div class="shirt"  [ngStyle]="{'background-image': 'url(' + awayShirtUrl + ')'}">
            </div>
            <div class="teamName2" >{{awayTeam}}</div>
          </div>
          <div class="scoresAndArena">
            <div class="arena">
              <div class="imageArena"></div>
              <div class="nameArena">
                Name : {{arenaName}}
              </div>
              <div class="capacityArena">
                Capacity : {{arenaCapacity}}
              </div>
            </div>
            <div class="scores">
              {{homeGoals}} - {{awayGoals}}
            </div>
          </div>
        </div>
       
        <div *ngIf="isSubscribedMatch(matchId) == false" class="subscribe">
          
          <label for="fname">Subscribe this match</label>
          <input type="text" id="fname" name="firstname" placeholder="Your Email..." required [(ngModel)] = "value" >
          <input type="submit" value="Subscribe" class="subscribeBtn" (click)="addSubscribedMatch(idMatch,value)" >
          
          
        </div>

        
        <div *ngIf="isSubscribedMatch(matchId) == true" class="subscribe">
            <label for="fname">Unsubscribe this match{{unSubscribeFromMatch(matchId)}}</label>
            <input type="submit" value="Unsubscribe" class="subscribeBtn" (click)="unSubscribeFromMatch(matchId)" >
        </div>
        
      </div>
    </div>
  </div>