$main: #00FF87;
$main-darker: #02894e;
$main-darker-hover: #015731;
$secondary: #38003C;
$gray: #ebebe4;
$blue: #267788;
$blue-darker: #1b5460;

.header {
    margin-left: 325px;
    height: 300px;
    background: url("../../assets/topimg2.jpg") no-repeat bottom center;
    background-size: cover;
    margin-bottom: 0.70em;
}

.content {
    width: 100%;
    height: 80%;
}

.title {
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    color: $main;
    background: $secondary;
    font-size: 20px;
    position: fixed;
    width: 325px;
    z-index: 20;
    top: 0;
    left: 0;
}

.leagues {
    width: 325px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: $gray;
    text-align: center;
}

.matches {
    margin-left: 325px;
    background: $gray;
    height: 100%;

    .match {
        .matchBtn {
            span {
                text-align: center;
                display: inline-block;
                vertical-align: top;
                width: 15%;
                min-height: 22px;

                + span {
                    border-left: 2px solid transparent;
                }

            }

        }

    }

}

.leagueBtn {
    width: 95%;
    height: 40px;
    margin-top: 7px;
    color: $secondary;
    background-color: $main;
    font-weight: 700;
    transition: 0.35s all;
    text-align: left;
    position: relative;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:hover {
        color: $main;
        background-color: $secondary;
    }

    &:first-of-type {
        margin-top: 75px;
    }

}

.flagLeague {
    width: 34px;
    height: 34px;
    background-size: contain;
    position: absolute;
    right: 15px;
    top: 3px;
}

.container-matches {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    background: url("../../assets/gray-bg.png") no-repeat bottom right;
    background-size: cover;
}

.titleLeague {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    padding: 5px 0;
    background: $secondary;
    color: white;
    font-size: 16px;
    border-radius: 2px;
}

.matchBtn {
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.matches .match .matchBtn:hover {
    background: darken($gray, 10%);

    span + span {
        border-left: 2px solid $gray;
    }

}

.event {
    height: 300px;
}

.scoresAndArena {
    height: 100%;
    width: 30%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;    /* margin: auto; */
    float: left;
}

.scores {
    width: 100%;
    text-align: center;
}

.arena {
    height: 70%;
    width: 100%;
}

.imageArena {
    height: 150px;
    width: 150px;
    background: url("../../assets/stadium.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
}

.nameArena, .capacityArena {
    text-align: center;
    font-size: 12px;
    height: 10%;
    width: 100%;
}

.shirtAndTeam {
    width: 35%;
    height: 100%;
    float: left;
}

.shirtAndTeam2 {
    width: 35%;
    height: 100%;
    float: right;
}

.shirt {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 150px;
    height: 200px;
    margin: 0 auto;
}

.teamName2 {
    width: 100%;
    height: 30%;
    text-align: center;
    margin: auto;
    font-size: 35px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.lgName {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: $secondary;
    background: $main;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2px 2px 2px 2px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.subscribe {
    border-radius: 5px;
    background-color: lighten($gray, 10%);
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
}

.subscribeBtn {
    width: 150px;
    padding: 10px;
    margin: 0 0 0 auto;
    display: block;
    background-color: $blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.35s all;

    &:hover {
        background-color: $blue-darker;
    }
}
