.wrapper{
    width: 750px;
    
    margin: auto; 
    display: flex;
    flex-direction: column;

}

.header{
    width: 100%;
    height: 180px;
    margin-bottom: 0.70em;
}

.image{
 
    content:url("../../assets/topimg.jpg");
    
    width: 100%;
    height: 100%;
    border-radius: 35px 35px 5px 5px;

}


.content{

    width: 100%;
    height: 80%;
   
   
}
.leagues{
    width: 25%;
    background:#5F7C5F;
    height: 100%;
    float: left;
    border-radius: 0px 0px 10px 10px;

}

.matches{
    width:75%;
    background: #CEC5C5;
    height: 100%;
    float: right;
    border-radius: 0px 5px 5px 0px
}

.leagueBtn{
    width: 95%;
    height: 40px;
    
    
    border-radius: 5px 5px 5px 5px;
    border: none;
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    font-size: 12px;
   
    cursor: pointer;
}
.teamName{
    width: 80%;
    height: 50%;
    float: left;
    margin-top: 4%;
    text-align: left;
}
.flagLeague{
    width: 20%;
    height: 68%;
    background-size:100%;
    float: left;
    margin: auto;
}

.leagueBtn:hover {
  
    opacity: 0.6;
    font-size: 13px;
}


.title{
    width: 100%;
    height: 3%;
    text-align: center;
    margin: auto; 
   
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: #681C19;
    vertical-align: middle;
    font-size: 16px;

    
}




.cotainer-matches{
    width: 90%;
    
    margin: auto; 
    margin-bottom: 10px;

}

.titleLeague{
    width: 100%;
    height: 20px;
    text-align: center;
    margin: auto; 
    margin-top: 5px;
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: #681C19;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 2px 2px 2px 2px;
}


.matchBtn{
    width: 100%;
    height: 20px;
}

.matchBtn:hover{
 
    -webkit-box-shadow: 17px 6px 44px -1px rgba(99,89,99,0.83);
    -moz-box-shadow: 17px 6px 44px -1px rgba(99,89,99,0.83);
    box-shadow: 17px 6px 44px -1px rgba(99,89,99,0.83);
    background: #222121
}

.ora{

    width: 12%;

}
.minutul{

    width: 6.9%;
 
}

.homeTeam{

    width: 35%;

}
.score{

    width: 10%;

}
.awayTeam{
   
    width: 35%;

}

.corp{
    float: left;
    margin-left: 1px;
    height: 100%;
    background: #FFFFFF;
    color:black;
    text-align: center;
    margin-bottom: 1px;
}

.event{
    width: 100%;
    height: 210px;
}

.scoresAndArena{
    height: 100%;
    width: 20%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    /* margin: auto; */
  
    float: left;
}

.scores{
    height: 30%;
    width: 100%;
    margin-left: 40%;
}

.arena{
    height: 70%;
    width: 100%;
}

.imageArena{
    height: 70%;
    width:100%;
    background-size: 100%;
    background-image: url("../../assets/stadium.png");
    margin-left: 30%;
    
}
.nameArena{
    font-size: 12px;
    height: 10%;
    
  width: 180%
}
.capacityArena{
    font-size: 12px;
    height: 10%;
    width: 180%;
  
}

.shirtAndTeam{
    width: 35%;
    height: 100%;
    float: left;
}


.shirtAndTeam2{
    width: 35%;
    height: 100%;
    float: right;
}
.shirt{
    background-size: 100%;
    width: 100%;
    height: 70%;
}

.teamName2{
    width: 100%;
    height: 30%;
    text-align: center;
    margin: auto;
    font-size: 35px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.lgName{
    width: 100%;
    height: 25px;
    text-align: center;
    margin: auto; 
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: #681C19;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 2px 2px 2px 2px;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.subscribe{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-bottom:5px; 
}
.subscribeBtn{
    height: 55px;
    width: 55px;
    background-color: #681C19;;
    border-radius: 35px 35px 35px 35px;
    border: none;
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    float: right;
    font-size: 10px;
   
    cursor: pointer;

}

.subscribeBtn:hover{
    opacity: 0.8;
}
